---

---

<head>
  <!-- <meta http-equiv="refresh" content="0;url=/" /> -->

  <script>
    setTimeout(() => {
      window.location.pathname = "/";
    }, 5000);
  </script>
</head>
<body>
  <h1>404 - redirecting to / in five seconds</h1>
</body>
