* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dragContainer {
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
    background-color: yellow;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    gap: 5px;
    /* to solve the huge gaps between the rows when the container is empty problem */
    align-content: flex-start;
}

.draggable {
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: grab;
    border-radius: 5px;
    border: 1px solid black;

}

.draggable:active:focus {
    cursor: grabbing;
}

.opacity0 {
    opacity: 0;
}


.drag-clone {
    position: fixed;
    left: -9999px;
}

.dragging {
    opacity: 0.5;
    /* Reduce opacity while dragging */
    /* Prevent clicks from passing through to element */
    transition: transform 0.2s ease;
    /* Apply transition for smooth dragging */

    transform: translate(2px, 2px);
    /* Slight offset while dragging */
}

.dragging:hover {
    cursor: grabbing;
    /* Override any previous cursor on hover */
}