.node-box {
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: lightblue;
  }

.node-box:hover {
  cursor: grab; 
}

.node-box:active {
  cursor: grabbing; 
}

.dragging{
  /* background-color: red; */
  border: 4px dotted blueviolet;
  /* visibility: collapse; */
  /* display: ; */
  /* opacity: 0.01; */
}