* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

body {
    height: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}